<template>
  <div>
    <div class="row">
      <div style="width:100%;" class="text-center">
        <h1>About Cashier</h1>
        <img src="/assets/icon96.png">
        <p>This software is intended to be used as a part of Plain-Text Accounting ecosystem.
          More specifically, it is a GUI helper for <a href="https://ledger-cli.org">Ledger</a>.
        </p>
      </div>
    </div>

    <h2>Credits</h2>
    <ul>
      <li>
        <a
          href="https://www.freepik.com/free-photos-vectors/sale"
        >Sale vector created by macrovector - www.freepik.com</a>
      </li>
      <li>
        <a
          href="https://www.freepik.com/free-photos-vectors/gold"
        >Gold vector created by freepik - www.freepik.com</a>
      </li>
    </ul>

    <h2>Components</h2>
    <ul>
      <li>
        <a href="https://getbootstrap.com/">Bootstrap 4</a>
      </li>
      <li>
        <a href="https://parceljs.org/">Parcel JS</a>
      </li>
      <li>
        <a href="https://vuejs.org/">Vue JS</a>
      </li>
    </ul>
  </div>
</template>
